# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/


# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# Jupyter Notebook checkpoints (caso use)
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Streamlit cache and config
.streamlit/
.cache/

# Pip
pip-log.txt

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/

# Virtualenv wrapper
.venv.bak/
